Maildir/*
logs/*
tmp/*
.viminfo
.bash_history
.gitconfig
.joe_state
leaskh.com/t2os-leaskh/update.time
leaskh.com/t2os-syxnx/update.time
leaskh.com/t2os-leaskh/tweet.id
leaskh.com/t2os-syxnx/tweet.id
leaskh.com/apple_keynotes/*
leaskh.com/wp-content/cache/*
